body{
	font-family: Arial;
}
body *{
	-webkit-transition: all .25s ease-out;
   	-moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    }
a:link:after, a:visited:after{
	content: "";
}
a, a:link, a:visited{
	color: #DD4B39;
	text-decoration: none;
}
a:hover, a:focus{
	color: #64160e;
}